<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script> 
 
    <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
        }
  
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
      </style>
    <title>EP Passive</title>
</head>
<body  class="text-center" style="text-align: center; background-color: lightgray;">
    <!-- <h1>Cofficient of Earth Pressure at Passive State</h1>
    <form action="/EPpassive" method="POST">
        
        <label>Angle of Internal Friction</label>
        <input type = "number" id="phi" name="phi" placeholder="phi">
        <br> <br>
        <label>Over Consolidated Ratio</label>
        <input type = "number" id="ocr" name="ocr"  placeholder="OCR">

        <br> <br>
        <label>Poission's ratio</label>
        <input type = "number" id="pr" name='pr'  placeholder="pr">

        <br> <br>
        <label>Plasticity Index</label>
        <input type = "number" id="pi" name="pi"  placeholder="PI">

        <br> <br>
        <label>Wall angle with Vertical</label>
        <input type = "number" id="theta" name='theta'  placeholder="theta">

        <br> <br>
        <label>Angle of inclination of Backfill</label>
        <input type = "number" id="beta" name='beta'  placeholder="beta">

        <br> <br>
        <label>Angle of friction bw wall or Backfill</label>
        <input type = "number" id="delta" name='delta'  placeholder="delta">
        
        <br> <br>
        <input type="submit" value="Calculate">
    </form> -->

    <main class="form-signin" style="width: 30%; margin: 4% auto;">
        <form  action="/EPpassive" method="POST">
          <h1 class="h3 mb-3 fw-normal">Cofficient of Earth Pressure at Passive State</h1>
      
          <div class="form-floating" >
            <input type="number" class="form-control"  id="phi" name="phi"  placeholder="Ysat"  required  >
            <label for="phi">Angle of Internal Friction</label>
          </div>

          <!-- <div class="form-floating" >
              <input type="number" class="form-control" id="ocr" name="ocr" placeholder="Ysat"  >
              <label for="ocr">Over Consolidated Ratio</label>
          </div>

          <div class="form-floating" >
            <input type="number" class="form-control"   id="pr" name='pr' placeholder="Ysat" >
            <label for="pr">Poission's ratio</label>
          </div>

          <div class="form-floating" >
            <input type="number" class="form-control" id="pi" name="pi" placeholder="Ysat"  >
            <label for="pi">Plasticity Index</label>
          </div>
           -->
          <div class="form-floating" >
            <input type="number" class="form-control" id="theta" name='theta'  placeholder="Ysat"  >
            <label for="theta">Wall angle with Vertical</label>
          </div>
      
          <div class="form-floating" >
            <input type="number" class="form-control"  id="beta" name='beta' placeholder="Ysat"   >
            <label for="beta">Angle of inclination of Backfill</label>
          </div>
          <div class="form-floating" >
            <input type="number" class="form-control" id="delta" name='delta'  placeholder="Ysat"   >
            <label for="delta">Angle of friction bw wall or Backfill</label>
          </div>
              <br>
          <button class="w-100 btn btn-lg btn-primary" type="submit">Calculate</button>
          <p class="mt-5 mb-3 text-muted" style="margin-top: -5%;">©Ishu Surender & Ishan Singh, 2020–2021</p>

        </form>
      </main>


</body>
</html>

