<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script> 
    <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
        }
  
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
      </style>
    <title>Stress with no water</title>
</head>
<body class="text-center" style="text-align: center; background-color: lightgray;">


    <main class="form-signin" style="width: 20%; margin: 4% auto;">
        <form  action="/StressNoWater" method="POST">
          <h1 class="h3 mb-3 fw-normal">Contilevel Sheet Pipe Problem -without Water Table</h1>
      

        <div class="form-floating" >
          <input class="form-control" type = "number" id="Y" name="Y" placeholder="gama" step="0.01" required>
          <label for="Y">Unit Weight of Soil</label> 
        </div>

        <!-- <div class="form-floating" >
            <input class="form-control" type = "number" id="Yw" name="Yw"  placeholder="gama water" step="0.01">
            <label>Uint Weight of Water</label>
        </div> -->

        <div class="form-floating" >
            <input class="form-control" type = "number" id="Q" name='Q'  placeholder="phi" step="0.01" required>
            <label>Internal Angle of Friction</label>
        </div>
        <div class="form-floating" >
            <input class="form-control" type = "number" id="H" name="H"  placeholder="H" step="0.01" required>
            <label>Height of Sheet Pipe Wall</label>
        </div>
          
        <br>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Calculate</button>
        <p class="mt-5 mb-3 text-muted">© Ishu Surender 2020–2021</p>
       </form>
    </main>


    <!-- <h1>Contilevel Sheet Pipe Problem - No Water Table</h1>
    <form action="/StressNoWater" method="POST">
        
        <label>Unit Weight of Soil</label>
        <input type = "number" id="Y" name="Y" placeholder="gama" step="0.01">
        <br> <br>
        <label>Uint Weight of Water</label>
        <input type = "number" id="Yw" name="Yw"  placeholder="gama water">

        <br> <br>
        <label>Internal Angle of Friction</label>
        <input type = "number" id="Q" name='Q'  placeholder="phi">

        <br> <br>
        <label>Height of Sheet Pipe Wall</label>
        <input type = "number" id="H" name="H"  placeholder="H" step="0.01">

        <br> <br>
        <input type="submit" value="Calculate">
    </form> -->


</body>
</html>

